// Variables
@import "variables";
@import "mixins";

// Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto+Condensed:300,700|Anton|Courgette');

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(#{$icon-font-path}#{$icon-font-name}.ttf) format('truetype');
  src: url(#{$icon-font-path}#{$icon-font-name}.eot?#iefix)
  format('embedded-opentype'),
  url(#{$icon-font-path}#{$icon-font-name}.woff) format('woff'),
  url(#{$icon-font-path}#{$icon-font-name}.ttf) , format('truetype'),
  url(#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id})
  format('svg');
}

@import "bootstrap";
@import "slick";
@import "slick-theme";
@import "font-awesome/font-awesome";
@import "generales";
@import "nav";
@import "pie";
@import "home";
@import "contacto";
@import "cursos";
