.cursos{
  padding: 0;
  .fondo-curso{
    padding: 0;
    h4{
      text-transform: uppercase;
      position: absolute;
      z-index: 1;
      width: 100%;
      text-align: center;
      letter-spacing: 2px;
      font-weight: 400;
      @include media(xxs){
        margin-top: 70px;
      }
      @include media(sm){
        margin-top: 200px;
        font-size: 23px;
      }
    }
    img{
      filter: grayscale(1);
      transition: .3s all;
    }
  }
  .activa{
    img{
      filter: none!important;
    }
  }
}

section.data-cursos{
  background: $white-color;
  min-height: 300px;
  margin-bottom: 120px;
  .noSel{
    text-align: center;
    margin-top: 120px;
    font-weight: 700;
    .uno{
      letter-spacing: 1px;
      font-size: 18px;
    }
    .dos{
      font-weight: 100;
      font-style: italic;
    }
  }
  .column{
    .pie-column{
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
    h6{
      font-size: 16px;
      text-transform: uppercase;
      padding: 9px 0;
      margin: 0;
    }
  }
  h5,h6,p,ul,li{
    color: $blue-bg;
  }
  div{
    padding: 0;
  }
  h5{
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
  }
  .first{
    .left,.right{
      p{
        font-style: italic;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        padding: 30px 0;
        margin-bottom: 0;
      }
    }
    .left{
      margin-left: -15px;
      h6{
        background: #d5d5d5;
        color: #fff;
      }
    }
    .right{
      margin-right: -15px;
      h6{
        color: #757575;
        background: $white-color;
      }
      p{
        background: #d5d5d5;
      }
    }
    h6{
      letter-spacing: 2px;
      text-align: center;
    }
  }
  .second{
    div{
      padding: 15px 35px;
      ul{
        list-style: none;
        padding: 0;
        font-size: 13px;
        i{
          color: #d1d1d1;
          margin-right: 10px;
        }
      }
    }
  }
  .pieLeft,.pieRight{
    text-align: center;
    p{
      padding: 10px 0;
      margin: 0;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
  .pieLeft{
    margin-left: -15px;
  }
  .pieRight{
    a{
      color: red;
    }
  }
}

.promociones{
  background: #f91515;
  text-align: center;
  i{
    color: #600000;
  }
  p,h4{
    padding: 20px 25px;
  }
  p{
    font-style: italic;
  }
  h4{
    letter-spacing: 1px;
    font-size: 19px;
  }
}

.pie{
  h3{
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 4px;
    font-size: 27px;
  }
  form{
    max-width: 450px;
    margin: 0 auto;
    .btn-contacto-curso{
      margin-bottom: 0!important;
    }
  }
}
