body{
  background-color: $blue-bg;
}
body,h1,h2,h3,h4,h5,h6,p{
  font-family: $font-family;
  color: $white-color;
}
h1,h2,h3,h4,h5,h6{
  font-weight: $font-sans-bold;
}
h3{
  font-size: 28px;
}
header.nav-contact{
  height: 30px;
  color: $red-color;
  background: $white-color;
  div{
    font-weight: $font-sans-bold;
    line-height: 30px;
    margin-left: 15px;
    display: inline-block;
  }
}
div.inscripcion{
  background-color: $red-color;
  color: $white-color;
  h5{
    font-weight: $font-sans-bold;
    @include media(sm){
      padding-right: 200px;
    }
    font-size: 28px;
    padding: 35px 30px;
    a.btn-inscribite{
      border: 2px solid $white-color;
      border-radius: 0;
      color: $white-color;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 5px 30px;
      @include media(sm){
        position: absolute;
        margin-top: -23px;
        right: 35px;
      }
    }
  }
}
footer{
  background: $red-color;
  color: $white-color;
  padding: 5px;
  span{
    opacity: .6;
  }
  .img-copyright{
    max-width: 15px;
  }
}
.btn-contacto{
  background: $red-color!important;
  border-radius: 0!important;
  color: $white-color!important;
  font-weight: $font-sans-bold;
  letter-spacing: 1px;
  margin-top: 50px;
  margin-bottom: 130px;
  padding: 8px 28px;
  @include media(xxs){
    font-size: 14px;
  }
  @include media(sm){
    font-size: 18px;
  }
}

.msg{
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 15px;
}

.form-group{
  margin-bottom: 25px;
  .form-control{
    background-color: #08141c;
    border: none;
    border-radius: 3px;
    color: $white-color;
    height: 28px;
    font-size: 12px;
    letter-spacing: 1px;
  }
  textarea.form-control {
    height: auto;
  }
  .form-control:focus{
    color: #557b95;
    box-shadow: none;
    border: 1px solid #557b95;
  }
}
h2.not-home{
  text-align: center;
  background: $red-color;
  margin-top: -25px;
  padding: 10px 0;
  font-size: 26px;
  letter-spacing: 2px;
  margin-bottom: 0;
}
a:hover{
  text-decoration: none;
}
