@mixin nav() {
  background: url($img-navbar) repeat-x $brand-blue;
  min-height: 100px;
  border-color: $red-color!important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid;
  border-radius: 0;
  .navbar-brand{
    height: 100px;
    img{
      max-width: 250px;
      max-height: 60px;
    }
  }
}
