//colors
$red-color: #bf0811;
$white-color: #fef4f4;
$brand-blue: #193042;
$blue-bg: #0c212d;

// Typography
$font-family: 'PT Sans', sans-serif;
$font-sans-bold: 700;
$font-size-base: 14px;
$line-height-base: 1.6;

// Glyphicons
$icon-font-path: "../fonts/bootstrap/";
$icon-font-name: "glyphicons-halflings-regular" !default;
$icon-font-svg-id: "glyphicons_halflingsregular" !default;

$img-navbar: "../images/bkg-navbar.jpg";

$source-img: "../images/";
